.itemsContainer {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.topSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.toolbarButton {
  background-color: #d4a374;
  border: 2px solid #623b1c;
  margin: 0 4px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px #623b1c;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
