
.iconContainer {
    position: relative;
    display: inline-block;
    margin: 5px;
  }
  

.icon {
    background-image: url('./sprites/crops/seed-packets.png'); /* Update to your sprite sheet path */
    image-rendering: pixelated; /* For pixel effect */
    display: block;
  
  }

  .hotkeyNumber {
    position: absolute;
    top: -12px;
    left: -8px;
    color: white;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive; /* Retro font */
  }
  

  .itemCount {
    position: absolute;
    bottom: -14px;
    right: -10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 6px;
    padding: 4px;
    border-radius: 50%;
    font-family: 'Press Start 2P', cursive; /* Retro font */
  }