.profileContainer {
    position: relative;
    display: inline-block;
  }
  
  .avatarDropdownContainer {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #d4a374;
    padding: 12px;
    gap: 8px;
    transition: background 0.3s;
  }
  
  .avatarDropdownContainer:hover {

    background: #a26336;
  }
  
  .avatarIcon {
    font-size: 40px;
    margin-right: 10px;
  }
  
  .healthBarContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
  
  }
  
  .healthBar, .staminaBar {
    background: #623b1c;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    border: 1.5px solid black;
  }
  
  .healthBar {
    
   
    background: rgb(201, 109, 109);
  }
  
  .staminaBar {
    background: linear-gradient(to right, #d4a374, #a26336);
  }
  
  .dropdownMenu {
  
    background: #e5b885;
    border: 2px solid #a26336;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  
  }
  
  .dropdownItem {
    background: none;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .dropdownItem:hover {
    background: #d4a374;
  }