.profileContainer {
    position: relative;
    display: inline-block;
  }
  
  .avatarButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s;
  }
  
  .avatarButton:hover {
    background: #d4a374;
  }
  
  .avatarIcon {
    font-size: 40px;
    margin-right: 10px;
  }
  
  .healthBarContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .healthBar, .staminaBar {
    background: #623b1c;
  
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
    text-align: center;
  }
  
  .healthBar {
    padding: 5px;
    background: linear-gradient(to right, #e57373, #a26336);
  }
  
  .staminaBar {
    background: linear-gradient(to right, #d4a374, #a26336);
  }
  
  .dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #e5b885;
    border: 2px solid #a26336;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }
  
  .dropdownItem {
    background: none;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .dropdownItem:hover {
    background: #d4a374;
  }